@media all and (min-width: 28em) {
	.ui-content .ui-field-contain  label.label-labelfor
	{
		width: 20%;
		display: inline-block;
		font-size: 16px;
		margin: 0 2% 0 0;
		overflow: hidden;
	}
	
	.ui-content .ui-field-contain label.ui-select
	{
		width: 20%;
		display: inline-block;
		vertical-align: top; 
		margin: 0 2% 0 0;
		overflow: hidden;
	}
	
	.ui-content .ui-field-contain label.ui-input-text
	{
		width: 20%;
		display: inline-block;
		vertical-align: top;
		margin: 0 2% 0 0;
		overflow: hidden;
	}
	
	.ui-content .ui-field-contain .ui-controlgroup-label
	{
		width: 20%;
		display: inline-block;
		vertical-align: top;
		margin: 0 2% 0 0;
		overflow: hidden;
	}
}

label.label-labelfor
{
	display: block;
	font-size: 16px;
}

@media all and (min-width: 28em) {
	.ui-content .ui-field-contain  .label-heading
	{
		width: 60%;
		display: inline-block;
		margin: 0;
	}
}

.label-heading
{
	margin: 0;
}

.ui-icon-loading {
	background: url(images/ajax-loader.png);
	background-size: 46px 46px;
}

.ui-panel .ui-panel-inner .ui-field-contain {
	border-width: 0;
	padding: 0;
	margin: 1em 0;
}

.ui-panel-display-push {
	-webkit-box-shadow: inset -5px 0 5px rgba(0,0,0,.15);
	-moz-box-shadow: inset -5px 0 5px rgba(0,0,0,.15);
	box-shadow: inset -5px 0 5px rgba(0,0,0,.15);
}

.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-open {
	width: auto;
	right: 0;
}

.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-open {
	right : 17em;	
}

.ui-panel-content-wrap-position-left.ui-panel-content-wrap-display-push.ui-panel-content-wrap-open {
	margin-right: 17em;
}