@media all and (min-width: 28em) {
	.ui-field-contain  label.label-labelfor
	{
		width: 20%;
		display: inline-block;
		font-size: 16px;
		margin: 0 2% 0 0;
		overflow: hidden;
	}
}

label.label-labelfor
{
	display: block;
	font-size: 16px;
}

@media all and (min-width: 28em) {
	.ui-field-contain  .label-heading
	{
		width: 60%;
		display: inline-block;
		margin: 0;
	}
}

.label-heading
{
	margin: 0;
}

.ui-icon-loading {
	background: url(images/ajax-loader.png);
	background-size: 46px 46px;
}