<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- things are declared twice in some places in order for them to work when running both with unit tests or as a simple app -->

  <!-- Servlets -->
  <servlet>
    <servlet-name>gwt-log-remote-logger-servlet</servlet-name>
    <servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
    <init-param>
      <param-name>symbolMaps0</param-name>
      <param-value>war/com.servoy.mobile.test.MobileTestClient.JUnit/.junit_symbolMaps/</param-value>
      <param-name>symbolMaps1</param-name>
      <param-value>WEB-INF/deploy/mobiletestclient/symbolMaps/</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>gwt-log-remote-logger-servlet</servlet-name>
    <url-pattern>/com.servoy.mobile.test.MobileTestClient.JUnit/gwt-log</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>gwt-log-remote-logger-servlet</servlet-name>
    <url-pattern>/mobiletestclient/gwt-log</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>servoy_mobile_test.html</welcome-file>
  </welcome-file-list>

</web-app>
